// https://dribbble.com/shots/5359506-Schedule/attachments
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Rubik');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4ejuqb');
  src:  url('../fonts/icomoon.eot?4ejuqb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4ejuqb') format('truetype'),
    url('../fonts/icomoon.woff?4ejuqb') format('woff'),
    url('../fonts/icomoon.svg?4ejuqb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
*[icon]:before {display: inline-block;font-family: 'icomoon';}
*[icon="barbell"]:before {content: "\e900";}
*[icon="bread"]:before {content: "\e901";}
*[icon="flash"]:before {content: "\e902";}
*[icon="program"]:before {content: "\e903";}

// font-family: 'Rubik', sans-serif;
// font-family: 'Poiret One', cursive;
// font-family: icomoon

body, html {
  margin: 0;padding: 0;overflow:hidden;
  width: 100vw;height:100vh;overflow-y:auto;
  background: #f6f6fa;
}
